# Run Sketchybar together with AeroSpace
# sketchbar has a built-in detection of already running process,
# so it won't be run twice on AeroSpace restart
# after-startup-command = ['exec-and-forget sketchybar']

# Notify Sketchybar about workspace change
# exec-on-workspace-change = [
#     '/bin/bash',
#     '-c',
#     'sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=$AEROSPACE_FOCUSED_WORKSPACE',
# ]

start-at-login = true

# Normalizations. See: https://nikitabobko.github.io/AeroSpace/guide#normalization
enable-normalization-flatten-containers = true
enable-normalization-opposite-orientation-for-nested-containers = true

# See: https://nikitabobko.github.io/AeroSpace/guide#layouts
# The 'accordion-padding' specifies the size of accordion padding
# You can set 0 to disable the padding feature
accordion-padding = 0

# Possible values: tiles|accordion
default-root-container-layout = 'tiles'

# Possible values: horizontal|vertical|auto
# 'auto' means: wide monitor (anything wider than high) gets horizontal orientation,
#               tall monitor (anything higher than wide) gets vertical orientation
default-root-container-orientation = 'auto'

# Possible values: (qwerty|dvorak)
# See https://nikitabobko.github.io/AeroSpace/guide#key-mapping
key-mapping.preset = 'colemak'

# Mouse follows focus when focused monitor changes
# Drop it from your config, if you don't like this behavior
# See https://nikitabobko.github.io/AeroSpace/guide#on-focus-changed-callbacks
# See https://nikitabobko.github.io/AeroSpace/commands#move-mouse
on-focused-monitor-changed = ['move-mouse monitor-lazy-center']

# Gaps between windows (inner-*) and between monitor edges (outer-*).
# Possible values:
# - Constant:     gaps.outer.top = 8
# - Per monitor:  gaps.outer.top = [{ monitor.main = 16 }, { monitor."some-pattern" = 32 }, 24]
#                 In this example, 24 is a default value when there is no match.
#                 Monitor pattern is the same as for 'workspace-to-monitor-force-assignment'.
#                 See: https://nikitabobko.github.io/AeroSpace/guide#assign-workspaces-to-monitors
[gaps]
inner.horizontal = 8
inner.vertical =   8
outer.left =       20
outer.bottom =     20
outer.top =        50
outer.right =      20

# 'main' binding mode declaration
# See: https://nikitabobko.github.io/AeroSpace/guide#binding-modes
# 'main' binding mode must be always presented
[mode.main.binding]

# All possible keys:
# - Letters.        a, b, c, ..., z
# - Numbers.        0, 1, 2, ..., 9
# - Keypad numbers. keypad0, keypad1, keypad2, ..., keypad9
# - F-keys.         f1, f2, ..., f20
# - Special keys.   minus, equal, period, comma, slash, backslash, quote, semicolon, backtick,
#                   leftSquareBracket, rightSquareBracket, space, enter, esc, backspace, tab
# - Keypad special. keypadClear, keypadDecimalMark, keypadDivide, keypadEnter, keypadEqual,
#                   keypadMinus, keypadMultiply, keypadPlus
# - Arrows.         left, down, up, right

# All possible modifiers: cmd, alt, ctrl, shift

# All possible commands: https://nikitabobko.github.io/AeroSpace/commands

# You can uncomment this line to open up terminal with alt + enter shortcut
# See: https://nikitabobko.github.io/AeroSpace/commands#exec-and-forget
alt-enter = 'exec-and-forget wezterm'

# See: https://nikitabobko.github.io/AeroSpace/commands#layout
alt-slash = 'layout tiles horizontal vertical'
alt-comma = 'layout accordion horizontal vertical'

# See: https://nikitabobko.github.io/AeroSpace/commands#focus
alt-h = 'focus left'
alt-n = 'focus down'
alt-e = 'focus up'
alt-i = 'focus right'

# See: https://nikitabobko.github.io/AeroSpace/commands#move
alt-shift-h = 'move left'
alt-shift-n = 'move down'
alt-shift-e = 'move up'
alt-shift-i = 'move right'

# See: https://nikitabobko.github.io/AeroSpace/commands#resize
alt-minus = 'resize smart -50'
alt-equal = 'resize smart +50'

# See: https://nikitabobko.github.io/AeroSpace/commands#workspace
alt-1 = 'exec-and-forget aerospace workspace 1 && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=1'
alt-2 = 'exec-and-forget aerospace workspace 2 && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=2'
alt-3 = 'exec-and-forget aerospace workspace 3 && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=3'
alt-4 = 'exec-and-forget aerospace workspace 4 && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=4'
alt-5 = 'exec-and-forget aerospace workspace 5 && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=5'
alt-6 = 'exec-and-forget aerospace workspace 6 && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=6'
alt-7 = 'exec-and-forget aerospace workspace 7 && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=7'
alt-8 = 'exec-and-forget aerospace workspace 8 && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=8'
alt-9 = 'exec-and-forget aerospace workspace 9 && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=9'

# See: https://nikitabobko.github.io/AeroSpace/commands#move-node-to-workspace
alt-shift-1 = 'exec-and-forget aerospace move-node-to-workspace 1 --focus-follows-window && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=1'
alt-shift-2 = 'exec-and-forget aerospace move-node-to-workspace 2 --focus-follows-window && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=2'
alt-shift-3 = 'exec-and-forget aerospace move-node-to-workspace 3 --focus-follows-window && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=3'
alt-shift-4 = 'exec-and-forget aerospace move-node-to-workspace 4 --focus-follows-window && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=4'
alt-shift-5 = 'exec-and-forget aerospace move-node-to-workspace 5 --focus-follows-window && sketchybar --trigger aerospace_workspace_change FOCUSED_WORKSPACE=5'

# See: https://nikitabobko.github.io/AeroSpace/commands#workspace-back-and-forth
# alt-tab = 'workspace-back-and-forth'
# See: https://nikitabobko.github.io/AeroSpace/commands#move-workspace-to-monitor
alt-shift-tab = 'move-workspace-to-monitor --wrap-around next'

# See: https://nikitabobko.github.io/AeroSpace/commands#mode
# alt-shift-semicolon = 'mode main'

alt-left = ['join-with left', 'mode main']
alt-down = ['join-with down', 'mode main']
alt-up = ['join-with up', 'mode main']
alt-right = ['join-with right', 'mode main']

alt-t = 'layout floating tiling'

alt-shift-c = 'reload-config'

[[on-window-detected]]
if.app-id = 'com.facebook.archon'
run = ['move-node-to-workspace 1']

[[on-window-detected]]
if.app-id = 'com.github.wez.wezterm'
run = ['move-node-to-workspace 2']

[[on-window-detected]]
if.app-id = 'app.zen-browser.zen'
run = ['move-node-to-workspace 3']

[[on-window-detected]]
if.app-id = 'com.spotify.client'
run = ['move-node-to-workspace 4']

[[on-window-detected]]
if.app-id = 'com.hnc.Discord'
run = ['move-node-to-workspace 5']

