{{ $email := promptStringOnce . "email" "What is your email address" -}}

[data]
    email = {{ $email | quote }}

[warnings]
    configFileTemplateHasChanged = false

[edit]
    command = "nvim"
{{ if eq .chezmoi.os "windows" }}
[cd]
    command = "pwsh"
{{ else }}
[cd]
    command = "zsh"
{{ end }}
