/**
 * Import the Nerdfonts icon font.
 * Ref https://www.nerdfonts.com/cheat-sheet for a cheatsheet of available Nerdfonts icons.
 */
@import 'https://www.nerdfonts.com/assets/css/webfont.css';
@import './themes/rose-pine.css';
i {
  color: var(--theme-icon);
  margin-right: 7px;
}
body {
  color: var(--theme-subtext);
  font-family: 'JetBrainsMono NF', ui-monospace, monospace;
  font-size: 14px;
  overflow: hidden;
}
html,
body,
#root {
  height: 100%;
}
#root {
  border-bottom: 1px solid var(--theme-accent);
  background: var(--theme-bg);
}
.app {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  align-items: center;
  height: 100%;
  padding: 4px 1.5vw;
}
.left,
.center,
.right {
  display: flex;
  align-items: center;
}
.center {
  justify-self: center;
}
.right {
  justify-self: end;
}
.logo,
.binding-mode,
.tiling-direction {
  margin-right: 10px;
}

/* Apply background to network, memory, cpu, battery and weather */
.network,
.memory,
.cpu,
.battery,
.weather {
  display: flex;
  align-items: center;
  background: var(--theme-bg-widget);
  padding: 4px 8px;
  color: var(--theme-text);
  border-radius: 2px;
  margin-right: 4px;
}

.workspaces {
  display: flex;
  align-items: center;
}
.workspace {
  background: var(--theme-bg-widget);
  margin-right: 4px;
  padding: 4px 8px;
  color: var(--theme-text);
  border: none;
  border-radius: 2px;
  cursor: pointer;
  &.displayed {
    background: var(--theme-bg-active);
  }
  &.focused,
  &:hover {
    background: var(--theme-accent);
    color: var(--theme-bg);
  }
}
.binding-mode,
.tiling-direction {
  background: var(--theme-bg-widget);
  color: var(--theme-text);
  border-radius: 2px;
  line-height: 1;
  padding: 4px 8px;
  border: 0;
  cursor: pointer;
  &:hover {
    background: var(--theme-accent);
    color: var(--theme-bg);
  }
}
.binding-mode {
  margin-right: 4px;
}
.cpu .high-usage {
  color: var(--theme-red);
}
.battery {
  position: relative;
}
.battery i {
  color: var(--theme-green)
}
.weather i {
  color: var(--theme-yellow)
}
.battery .charging-icon {
  position: absolute;
  font-size: 7px;
  left: -8px;
  top: 3px;
}
.media-widget {
  display: flex;
  align-items: center;
  margin-left: 10px;
  background: var(--theme-bg-widget);
  margin-right: 4px;
  padding: 4px 8px;
  color: var(--theme-text);
  border: none;
  border-radius: 2px;
}
.media-widget-info {
  /* max-width: 200px; */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0 8px;
}
.media-widget-controls {
  display: flex;
  align-items: center;
  margin-left: 5px;
}
.media-widget-controls i {
  margin: 0 5px;
  font-size: 10px;
  cursor: pointer;
  transition: transform 0.1s ease;
}
.media-widget-controls .play-pause {
  color: var(--theme-subtext);
}
.media-widget-controls .play-pause:hover {
  color: var(--theme-accent);
}
.media-widget-controls .prev-next {
  color: var(--theme-subtext);
}
.media-widget-controls .prev-next:hover {
  color: var(--theme-accent);
}
.media-widget-icon {
  color: var(--theme-text);
  margin-right: 5px;
}
.media-widget-title {
  color: var(--theme-text);
}
.media-widget-artist {
  color: var(--theme-text);
}
